mixin slider({header: header, from: from, to: to, min: min, max: max, step: step})
    .slider(data-slider-values=`{"min": ${min}, "max": ${max}, "step": ${step}, "from": ${from}, "to": ${to}}`)
        .slider__header.text-h3= header
        .slider__result.text-h3_50 5 000₽ - 10 000₽
        .slider__plugin.js-slider__plugin