include ../button/button.pug
mixin date-dropdown({type: type, label: label, labelTo: labelTo, description: description, id: id})
  if (type == "split")
    .date-dropdown.date-dropdown_split.js-date-dropdown_split(id= `js-${id}` data-date-type = "split") 
      .date-dropdown__half
        .date-dropdown__header= label
        .date-dropdown__description= description
        .date-dropdown__wrapper 
          .date-dropdown__input
            .date-dropdown__arrow.js-date-dropdown__arrow
              .date-dropdown__arrow-line 
            input.date-dropdown__calendar-input.js-date-dropdown__calendar-input(data-date = "from" placeholder="ДД.ММ.ГГГГ" value=text readonly)
      .date-dropdown__half
        .date-dropdown__header= labelTo
        .date-dropdown__description= description
        .date-dropdown__wrapper 
          .date-dropdown__input
            .date-dropdown__arrow.js-date-dropdown__arrow
              .date-dropdown__arrow-line 
            input.date-dropdown__calendar-input.js-date-dropdown__calendar-input(data-date = "to" placeholder="ДД.ММ.ГГГГ" value=text readonly)
      .date-dropdown__list.js-date-dropdown__list 
        .date-dropdown__calendar.js-date-dropdown__calendar
        .date-dropdown__buttons
          .date-dropdown__buttons-reset.js-date-dropdown__buttons-reset
            +button({type: "icon"})
          .date-dropdown__buttons-apply.js-date-dropdown__buttons-apply
            +button({label: "Применить", type: "icon"})

  if (type == "filter")
    .date-dropdown.date-dropdown_filter.js-date-dropdown_filter(id= `js-${id}` data-date-type = "filter") 
      .date-dropdown__header= label
      .date-dropdown__description= description
      .date-dropdown__wrapper 
        .date-dropdown__input
          .date-dropdown__arrow.js-date-dropdown__arrow
            .date-dropdown__arrow-line 
          input.date-dropdown__calendar-input.js-date-dropdown__calendar-input(data-date = "range" placeholder="Выберите даты" value=text readonly)
        .date-dropdown__list.js-date-dropdown__list 
          .date-dropdown__calendar.js-date-dropdown__calendar
          .date-dropdown__buttons
            .date-dropdown__buttons-reset.js-date-dropdown__buttons-reset
              +button({type: "icon"})
            .date-dropdown__buttons-apply.js-date-dropdown__buttons-apply
              +button({label: "Применить", type: "icon"})

            
